/YallaParkingMobile/YallaParkingMobile.iOS/obj
/YallaParkingMobile/YallaParkingMobile.iOS/bin
/YallaParkingMobile/YallaParkingMobile.Android/obj
/YallaParkingMobile/YallaParkingMobile.Android/bin
/YallaParkingMobile/YallaParkingMobile/obj
/YallaParkingMobile/YallaParkingMobile/bin
